* {
    margin: 0; /* 外边距 */
    padding: 0; /* 内边距 */
    box-sizing: border-box; /* 盒子大小规则 */
    font-family: sans-serif; /* 字体样式 */
}

header {
    position: fixed; /* 根据浏览器进行定位 */
    top: 0;
    left: 0;
    width: 100%; /* 宽 */
    display: flex; /* 弹性盒模型 */
    justify-content: space-between; /* 主轴对齐方式 */
    align-items: center; /* 交叉轴对齐方式 */
    transition: 0.6s; /* 过渡时间 */
    padding: 40px 100px;
    z-index: 1000; /* 层叠顺序 */
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none; /* 文字装饰 */
    font-size: 3em; /* 字体大小 */
    text-transform: uppercase; /* 字体大写 */
    letter-spacing: 2px; /* 字符间距 */
    transition: 0.6s;
    text-shadow: 1px 1px 1px #424242;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header li a {
    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.6s all;
    padding: 14px 90px;
    margin: 0 15px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #424242;
}

header.sticky .logo { /* 导航栏logo before */
    color: #ffffff;
    text-shadow: 1px 1px 1px #212121;
}

header.sticky { /* 导航栏before */
    padding: 8px 100px;
    background: rgba(42, 43, 46, 0.92);
}

#menu {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style: none;
    display: inline-block;
}

#menu li a:before {
    content: "";
    width: 40px;
    position: absolute;
    border-bottom: 3px solid #e9e9e9;
    bottom: 0;
    right: 350px;
    transition: 0.6s all;
}

#menu li a:hover:before {
    right: 0;
}

.banner {
    position: static;
    width: 100%;
    height: 52vh;
    background: url(../images/bg.jpg);
    background-size: cover; /* 背景大小：裁切 */
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ccdef1;
}

.images {
    position: relative;
    display: block;
    margin: 0 auto;
}

.main_frame {
    width: 1400px;
    margin: 0 auto;
    background-color: #f3f3f3;
    border: 1px solid #0000002e;
}

.title_frame {
    margin: 20px 0 50px;
    text-align: center;
}

.text_frame {
    margin: 0 55px 0 0;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: calc(1.0 * 1rem);
}

.gallery_item {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery .gallery_item {
    max-width: calc((100% - 16px * 1) / 2);
}

h1 {
    font-size: 30px;
    letter-spacing: 0.8px;
    font-weight: 500;
}

h2 {
    text-align: left;
    padding-left: 6cm;
    font-size: 19px;
    letter-spacing: 0.8px;
}

p {
    font-size: 17px;
    padding-left: 3.4cm;
    line-height: 2;
    letter-spacing: 1px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main {
    margin: 0;
    flex-direction: column;
    text-align: left;
    padding: 0 0 0 6cm;
    list-style: none;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 1px;
}

main a:link {
    color: #551a8b;
}

main a:hover {
    text-decoration: none;
}

.main_audio_frame {
    text-align: center;
}

.footer_frame {
    color: #d7d7d7;
    text-align: center;
    font-size: 15px;
}

footer {
    margin: 0;
    padding: 0;
    background: #393a41;
}
