html {
  font-size: 10px; 
  font-family: 'Open Sans', sans-serif; 
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #861111;
  text-shadow: 3px 2px 1px #d7d6d6;
}

p, li {
  font-size: 20px;    
  line-height: 1.9;
  letter-spacing: 1px;
}

html {
  background-color: #ccdef1;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 0 20px 20px 20px;
  border: 1px solid #0000002e;
}

img {
  display: block;
  margin: 0 auto;
}
