* {
  margin: 0; /* 外边距 */
  padding: 0; /* 内边距 */
  box-sizing: border-box; /* 盒子大小规则 */
  font-family: sans-serif; /* 字体样式 */
}

header {
  position: fixed; /* 根据浏览器进行定位 */
  top: 0;
  left: 0;
  width: 100%; /* 宽 */
  display: flex; /* 弹性盒模型 */
  justify-content: space-between; /* 主轴对齐方式 */
  align-items: center; /* 交叉轴对齐方式 */
  transition: 0.6s; /* 过渡时间 */
  padding: 40px 100px;
  z-index: 1000; /* 层叠顺序 */
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #000000;
  text-decoration: none; /* 文字装饰 */
  font-size: 3em; /* 字体大小 */
  text-transform: uppercase; /* 字体大写 */
  letter-spacing: 2px; /* 字符间距 */
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header.sticky .logo {               /* 导航栏logo before */
  color: #000;
}
header.sticky {                       /* 导航栏before */
  padding: 5px 100px;
  background: #fff;
}

#menu{
  margin: 0;
  padding: 0;
}
#menu li{
  list-style: none;
  display: inline-block;
}
#menu li a{
  text-decoration: none;
  position: relative;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.6s all;
  padding: 14px 90px;
  text-transform: uppercase;
  margin: 0 15px;
  letter-spacing: 2px;
}
#menu li a:before{
  content: "";
  width: 40px;
  position: absolute;
  border-bottom: 3px solid #313131;
  bottom: 0;
  right: 350px;
  transition: 0.6s all;
}
#menu li a:hover:before{
  right: 0;
}
.banner {
  position: static;
  width: 100%;
  height: 52vh;
  background: url(../images/bg.jpg);
  background-size: cover; /* 背景大小：裁切 */
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ccdef1;
}

img.img1 {
  width: 35%;
  height: auto;
  position: relative;
  top: -50px;
  display: block;
  margin: 0 auto;
}

.main_frame{
  width: 1400px;
  margin: 0 auto;
  background-color: #f3f3f3;
  border: 1px solid #0000002e;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.8px;
  text-align:left;
  padding-left:6cm;
}

p{
  font-size: 17px;
  padding-left:6cm;
  line-height: 2;
  letter-spacing: 1px;
}

main li {
   margin: 0;
   padding: 0;
   flex-direction: column;
   text-align:left;
   padding-left:6cm;
   list-style:none;
   font-size: 17px;
   line-height: 2;
   letter-spacing: 1px;
}

a:link {
  color: #551A8B;
}
a:hover {
    text-decoration: none;
}

.footer_frame{
  color: #d7d7d7;
  margin：auto;
  text-align:center;
  font-size: 15px;
}

footer{
  margin: 0;
  padding: 0;
  background: #393a41;
}
